
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color:#111;
    color: #fff;
    min-height: 150px;
  }
  
  .footer-contact {
    max-width: 50%;
  }
  
  
  p {
    margin: 0;
  }
  
  a {
    color: #eeaa2d;
    text-decoration: none;
  
    &:hover {
        text-decoration: underline;
    }
  }
  
  .footer-copyright {
    align-self: flex-end;
    text-align: right;
    margin-top: auto;
  }