
    .app {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
  }


    .main-content {
        flex: 1;
        background-color: #aaaaaa; 
  }


    .header {
        background-color: #cca31c;
        position: relative;
        text-align: center;
        color: rgb(185, 19, 19);
        padding: 5rem;
  }
  
    .header-title {
        position: absolute;
        top: 35%;
        left: 11%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
  }
  

    




  

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #fffcfc;
  border-right: 2px solid #da0505;
}

.sidebar h3 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #d8a90d;
}





.total-price {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2em;
  
}

.reset-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  
}

.reset-button:hover {
  background-color: #cc0707;
}






.price-list {
  flex: 1;
  padding: 20px;
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.controls {
  display: flex;
  align-items: center;
}

.controls button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.controls span {
  min-width: 20px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #111;
  color: #dfdcdc;
}

.footer-contact {
  max-width: 50%;
}

.footer-contact h2,
.footer-contact p {
  margin: 0;
}

.footer-contact a {
  color: #e4af1d;
  text-decoration: none;
}

.footer-contact a:hover {
  text-decoration: underline;
}

.footer-copyright {
  
  align-self: flex-end; 
  text-align: right;
  margin-top: auto; 
}





    

